.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0%;
    background-color: aqua;
}

*{
    font-family: "Chewy", system-ui;
}

nav{
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    margin: 0;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
}                   

li{
    list-style: none;
    padding: 10px 25px 10px 10px;
    color: aqua;
}

a{
    text-decoration: none;
}

li:hover{
    text-decoration: underline;
}

.nav-img{
    width: 50px;
}

h1{
    text-align: center;
    color: dodgerblue;
    font-size: 50px;
    margin-bottom: 0;
}

.buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.button{
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 75px;
    font-family: "Chewy", system-ui;
    font-size: 25px;
    background-color:dodgerblue;
    color: aqua;
    border-radius: 10px;
    border-color: dodgerblue;
}


.button:hover{
    cursor: pointer;
    background-color:rgb(117, 186, 255);
}

.character{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.about{
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: dodgerblue;
    width: 700px;
}

.about p{
  background-color: dodgerblue;
  color: aqua;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
}


.about-btn{
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 75px;
    font-family: "Chewy", system-ui;
    font-size: 25px;
    background-color:dodgerblue;
    color: aqua;
    border-radius: 10px;
    border-color: dodgerblue;
}

.about-btn:hover{
      cursor: pointer;
    background-color:rgb(117, 186, 255);
}

.score-container{
  display: flex;
  flex-direction: row;
  justify-content: fl;
  padding: 10px 10px 0px 10px;
  margin-left: 20px;
}

.score-container p{
  font-size: 30px;
  margin-left: 5px;
}

.canvas{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
background-color: dodgerblue;
  padding: 20px 20px 0px 20px;
  margin: 40px 0px 0px 0px;
}

footer h3{
  text-align: center;
  font-size: 40px;
}

footer img{
  width: 150px;
}

.col-1{
  display: flex;
  flex-direction: column;
  align-items: center;
color: aqua;

}

.col-1 ul{
  list-style: none;
  text-align: center;
  margin:20px 10px 10px 10px;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-evenly;
}

.col-1 ul a{
  text-decoration: none;
    color: aqua;
  padding: 10px 20px 10px 20px;
}

.col-1 ul a:hover{
  text-decoration: underline;
}

.col-1 p{
  text-align: center;
  padding: 10px 10px 10px 10px;
}




