.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0%;
    background-color: aqua;
}

*{
    font-family: "Chewy", system-ui;
}

nav{
    display: flex;   
    justify-content: flex-end; 
    background-color: dodgerblue;
}

ul{
    display: flex;
}                                                       
li{
    list-style: none;
    padding: 10px 25px 10px 10px;
    color: aqua;
}

a{
    text-decoration: none;
}

li:hover{
    text-decoration: underline;
}


h1{
    text-align: center;
    color: dodgerblue;
    font-size: 50px;
}

.buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.button{
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 75px;
    font-family: "Chewy", system-ui;
    font-size: 25px;
    background-color:dodgerblue;
    color: aqua;
    border-radius: 10px;
    border-color: dodgerblue;
}


.button:hover{
    cursor: pointer;
    background-color:rgb(117, 186, 255);
}

.character{
    width: 150px;
    height: 150px;
}

.about{
    margin: auto;
    text-align: center;
    font-size: 25px;
    color:rgba(11, 73, 94, 0.943);
    width: 700px;
}


.about-btn{
    margin: 20px 10px 10px 10px;
    width: 200px;
    height: 75px;
    font-family: "Chewy", system-ui;
    font-size: 25px;
    background-color:dodgerblue;
    color: aqua;
    border-radius: 10px;
    border-color: dodgerblue;
}